[Unit]
Description=Omoide index server
After=network.target

[Service]
User=omoide
WorkingDirectory=/home/omoide/Omoide
ExecStart=/home/omoide/Omoide/run_index.sh
CPUAccounting=true
MemoryAccounting=true

[Install]
WantedBy=multi-user.target
