[Unit]
Description=Omoide application server
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/Omoide
ExecStart=/home/pi/Omoide/run_app.sh
CPUAccounting=true
MemoryAccounting=true

[Install]
WantedBy=multi-user.target
