{% from "macros.html" import pagination %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon"
          href="{{ url_for('static', filename='favicon.ico') }}">
    <link type="text/css"
          href="{{ url_for('static', filename='styles.css') }}"
          rel="stylesheet">
    <script type="text/javascript"
            src="{{ url_for('static', filename='code.js') }}"></script>
    {% block head %}{% endblock %}
    <title>{{ title }}</title>
</head>

<body>
<div id="header" style="display: {{ 'none' if folded else 'block' }}">
    <form id="main_form"
          method="post"
          onsubmit="goSearch(this);">
        <div class="query-container">

            <a href="{{ url_for('search') }}"
               title="Use it to clear search query"
               class="button">Home</a>

            <label for="query">
                <input id="query_element"
                       name="query"
                       type="search"
                       value="{{ user_query }}"
                       class="query_input"
                       placeholder="{{ placeholder }}" autofocus/>
            </label>

            <input id="searchButton"
                   title="Press to perform search"
                   type="submit"
                   class="button"
                   name="search"
                   value="Search" autofocus/>

            <a id="tagsButton"
               title="Display all available tags"
               href="{{ url_for('tags') + web_query|string|safe }}"
               class="button">Tags</a>

            <a href="{{ url_for('navigation') + web_query|string|safe }}"
               title="Display and navigate on all available themes"
               class="button">Navigation</a>

            <span></span>

            <span class="note small-text"
                  onclick="explainSearchResults()">{{ note }}</span>

        </div>
    </form>

    {% block upper_body %}{% endblock %}

    <hr>

</div>

{% block body %}{% endblock %}

<hr>

<div class="flex_hr">
    {% if not on_feedback_page %}
        <a href="{{ url_for('feedback') + web_query|string|safe }}"
           title="Send feedback">Send feedback</a>
    {% endif %}

    <a href="{{ url_for('show_help') + web_query|string|safe }}"
       title="Additional info on site usage">Help</a>

    <a title="Return to the previous page"
       onclick="goBack()">Back</a>

    <a title="Run new search, same as search button in the header"
       onclick="externalSubmit()">Search</a>
</div>
<br>

{{ injection|safe }}

</body>
</html>
