{% extends "base.html" %}

{% block body %}
    <div class="limited-width">

        <h3>Statistics</h3>
        <div class="content-block light-text-section">
            <table class="stat-table">

                <tr>
                    <td>Total size</td>
                    <td>Total items</td>
                    <td>Oldest item</td>
                    <td>Newest item</td>
                </tr>

                <tr>
                    <td>{{ byte_count_to_text(statistic.total_size) }}</td>
                    <td>{{ sep_digits(statistic.total_items) }}</td>
                    <td>{{ statistic.min_date }}</td>
                    <td>{{ statistic.max_date }}</td>
                </tr>

            </table>
        </div>

        {% if statistic.tags_by_alphabet %}
            <h3>Total tags: {{ sep_digits(statistic|length) }}</h3>
            <div class="content-block">
                {% for letter, tags in statistic.tags_by_alphabet %}
                    <ul class="tags-list">
                        <p class="tag-header">{{ letter|upper }}</p>
                        {% for tag in tags %}
                            <li>
                                <a class="tag-box"
                                   href="{{ url_for('search') + web_query.replace(q=tag)|string|safe }}">
                                    {{ tag }}</a> x {{ sep_digits(statistic.tags.get(tag, 0)) }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </div>
        {% endif %}
    </div>

{% endblock %}
