:root {
    --gap-tiny: 0.4em;
    --gap-small: 0.5em;
    --gap-normal: 0.5em;

    --radius: 5px;
    --main-text-color: #1a1b1d;
    --bright-text-color: #ffffff;
    --active-color: #8cb96f;
    --active-color-bright: #79cb3e;
    --background-color: #939393;
}

@media (min-width: 300px) {
    html, body {
        font-size: 32pt;
    }

    input {
        font-size: 32pt;
    }

    .small-text {
        font-size: 25pt;
    }

    .feedback {
        font-size: 32pt;
    }

    .query-container {
        margin: 10px;
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: var(--gap-tiny);
    }

    .explain-container {
        margin: 10px;
        grid-template-columns: 1fr;
        grid-row-gap: var(--gap-tiny);
    }

    .arrow {
        display: block;
    }

    .label {
        display: none;
    }
}

@media (min-width: 1080px) {
    html, body {
        font-size: 16pt;
    }

    input {
        font-size: 16pt;
    }

    .small-text {
        font-size: 12pt;
    }

    .feedback {
        font-size: 16pt;
    }

    .query-container {
        margin: 10px;
        display: grid;
        grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
        grid-column-gap: 1em;
    }

    .explain-container {
        margin: 10px;
        grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
        grid-column-gap: 20px;
    }

    .arrow {
        display: none;
    }

    .label {
        display: block;
    }
}

html, body {
    color: var(--main-text-color);
    background-color: var(--background-color);
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}

.explain-container {
    display: none;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

input {
    border-radius: var(--radius);
    color: var(--main-text-color);
    padding: var(--gap-tiny);
    width: 100%;
    height: 100%;
}

textarea:focus, input:focus {
    outline: none;
}

.button {
    border-radius: var(--radius);
    padding: var(--gap-tiny);
    background-color: #545454;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    border: 1px solid black;
}

.button:hover {
    color: var(--bright-text-color);
    background-color: #383838;
    text-decoration: none;
}

.button:active {
    color: var(--bright-text-color);
    background-color: black;
}

a {
    color: var(--bright-text-color);
    display: inline-block;
}

a:link {
    color: var(--bright-text-color);
    text-decoration: none;
}

a:visited {
    color: var(--bright-text-color);
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

a:active {
    color: var(--bright-text-color);
}

.note {
    cursor: pointer;
    margin-top: var(--gap-tiny);
    text-align: left;
}

.limited-width {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    text-align: center;
}

.pages {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    flex-wrap: wrap;
}

.pages a {
    color: var(--main-text-color) !important;
    background-color: rgba(70, 129, 60, 0.18);
    padding: 5px 15px;
    margin-top: var(--gap-tiny);
    margin-bottom: var(--gap-tiny);
    text-decoration: none;
    min-width: 1em;
    text-align: center;
    border: 1px solid #707070;
}

.page-left {
    border-radius: var(--radius) 0 0 var(--radius);
}

.page-right {
    border-radius: 0 var(--radius) var(--radius) 0;
}

.page-separate {
    border-radius: var(--radius);
}

.active-page {
    background-color: var(--active-color) !important;
}

.inactive-page {
    cursor: default !important;
}

.flex_hr {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.tag-box {
    color: var(--main-text-color) !important;
    border: 2px solid black;
    margin: 0.1em;
    padding: var(--gap-tiny);
    border-radius: var(--radius);
    background-color: #46813C2D;
    text-decoration: none;
}

.tag-box:hover {
    text-decoration: none;
    background-color: #46813CA3;
}

.tag-header {
    font-weight: bold;
    padding: 0;
    margin: 0 0 0 var(--gap-tiny);
}

.tags-list > li > a {
    color: var(--main-text-color) !important;
}

.tags-list > {
    white-space: nowrap;
    display: block;
}

.tags-list li:first-child {
list-style-type: none;
}

.content-block {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.stat-table {
    margin: auto;
    width: 100%;
    text-align: center;
}

.custom-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 40px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.5em;
    width: 1.5em;
    background-color: #808080;
    border-radius: 5px;
}

.checkbox-container:hover input ~ .checkmark {
    background-color: #565656;
}

.checkbox-container input:checked ~ .checkmark {
    background-color: var(--active-color);
}

.checkbox-container:hover input:checked ~ .checkmark {
    background-color: var(--active-color-bright);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: 0.5em;
    top: 5px;
    width: 5px;
    height: 0.7em;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.nav-hidden {
    display: none;
}

.nav-visible {
    display: block;
}

.nav-icon {
    max-height: 2em;
}

.nav-button-block {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: var(--gap-normal);
}

.nav-groups {
    border-radius: var(--radius);
    padding: var(--gap-small);
    margin: 0;
}

.nav-theme {
    background-color: #808080;
    border-radius: 5px;
    margin: var(--gap-small);
    margin-left: 1em;
    padding: var(--gap-small);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration-line: line-through;
}

.nav-chosen-theme {
    text-decoration-line: none;
    background-color: var(--active-color);
}

.nav-groups > li {
    margin-left: 1em;
    margin-top: 5px;
    margin-bottom: 5px;
}

.nav-groups > li > a {
    color: var(--main-text-color);
}

.nav-table {
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
}

.nav-table td:first-child {
    width: 5%;
}

.explain-query {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 1em;
}

.explain-query-keyword, .explain-query-word {
    border: 2px solid black;
    color: black;
    font-weight: bold;
    padding: 0.5em;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.explain-query-keyword {
    background-color: var(--active-color);
    min-width: 2em;
}

.explain-query-word {
    color: black;
}

.envelope-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.envelope {
    border-radius: var(--radius);
    margin: var(--gap-tiny);
    box-shadow: rgba(0, 0, 0, 0.4) 0 3px 8px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 0;
}

img {
    /* display: inline-block; */
}

.envelope-container img {
    min-height: 384px;
}

.feedback-block {
    text-align: center;
}

.feedback {
    margin: 10px;
    width: 100%;
    max-width: 800px;
}

.preview-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.preview-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.preview-center > .preview-swipe {
    width: auto;
}

.preview-center img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.preview-table {
    border-collapse: collapse;
}

.preview-table td {
    border: 1px solid #707070;
    padding: var(--gap-tiny);
}

.preview-table th {
    background-color: #777777;
    padding: 10px;
    min-width: 250px;
}

.preview-swipe {
    width: 100%;
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #777777;
}

.preview-swipe:hover {
    background-color: #545454;
}


.preview-swipe-inactive {
    background-color: unset;
}

.preview-swipe-inactive:hover {
    background-color: unset;
    text-decoration: none;
    cursor: default;
}

.as-link {
    color: var(--main-text-color) !important;
    text-decoration: underline !important;
}

ol > li > a {
    color: var(--main-text-color) !important;
}

.round {
    border-radius: 20px;
}

.fold-button {
    position: absolute;
    cursor: pointer;
    max-height: 2em;
    max-width: 2em;
    width: 100%;
}

.light-text-section {
    background-color: #c0c0c0;
    border: 1px solid black;
    border-radius: 15px;
    padding: 1em;
}
