{% extends "base.html" %}
{% from "macros.html" import pagination %}

{% block upper_body %}
    {% if search_report %}
        <div id="explain" class="explain-container">
            <span></span>
            <div class="small-text">

                <div class="explain-query">
                    {% for keyword, word in  search_query.sequence %}
                        <span class="explain-query-keyword">{{ keyword }}</span>
                        <span class="explain-query-word">{{ word }}</span>
                    {% endfor %}
                </div>

                {% for line in search_report %}
                    {{ line }}<br>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block body %}
    {% if announce %}
        <div class="limited-width">
            <h3>{{ announce }}</h3>
        </div>
    {% endif %}

    {{ pagination(request, paginator, web_query) }}

    <div class="envelope-container">
        {% for item in paginator %}
            <div>
                <a class="envelope"
                   href="{{ url_for('show_preview', uuid=item.uuid) + web_query|string }}">
                    <img src="/content{{ item.path }}" alt=""/>
                </a>
            </div>
        {% endfor %}
    </div>

    {{ pagination(request, paginator, web_query) }}

{% endblock %}
