{% extends "base.html" %}
{% from "macros.html" import if_not_empty %}
{% from "macros.html" import preview_pagination %}

{% block upper_body %}
    {{ super() }}
    <h3>
        <a class="as-link"
           href="{{ url_for('search') + web_query.replace(q=group.uuid)|string }}">{{ theme.label }}: {{ group.label }}</a>
    </h3>
{% endblock %}

{% block body %}
    {% if folded %}
        <a href="{{ url_for('show_preview', uuid=uuid) + web_query.replace(folded='no')|string|safe }}"
           class="fold-button">
            <img src="{{ url_for('static', path='expand-arrow.svg') }}"
                 title="Show header panel" alt="Header visibility switch"/>
        </a>
    {% else %}
        <a href="{{ url_for('show_preview', uuid=uuid) + web_query.replace(folded='yes')|string|safe }}"
           class="fold-button">
            <img src="{{ url_for('static', path='collapse-arrow.svg') }}"
                 title="Hide header panel" alt="Header visibility switch"/>
        </a>
    {% endif %}

    {{ preview_pagination(request, paginator, web_query, next, previous) }}

    <div class="preview-center">

        {% if previous %}
            <a href="{{ url_for('show_preview', uuid=previous) + web_query|string|safe }}"
               class="preview-swipe">
                <span class="arrow">&lt;&lt;</span>
                <span class="label">Previous</span>
            </a>
        {% else %}
            <a class="preview-swipe preview-swipe-inactive">&nbsp;</a>
        {% endif %}

        <a href="/content{{ meta.path_to_content }}">
            <img src="/content{{ meta.path_to_preview }}"
                 alt="Click here for full resolution"/>
        </a>

        {% if next %}
            <a href="{{ url_for('show_preview', uuid=next) + web_query|string|safe }}"
               class="preview-swipe">
                <span class="arrow">&gt;&gt;</span>
                <span class="label">Next</span>
            </a>
        {% else %}
            <a class="preview-swipe preview-swipe-inactive">&nbsp;</a>
        {% endif %}
    </div>

    {{ preview_pagination(request, paginator, web_query, next, previous) }}

    <div class="preview-content limited-width">
        <table class="preview-table">

            {%- if tags %}
                <tr>
                    <th colspan="2">Tags</th>
                </tr>
                <tr>
                    <td colspan="2">
                        <ol>
                            {%- for tag in tags %}
                                <li>
                                    <a href="{{ url_for('search') + web_query.replace(q=tag)|string|safe }}">{{ tag }}</a>
                                </li>
                            {% endfor -%}
                        </ol>
                    </td>
                </tr>
            {% endif -%}

            {% if meta.author or meta.origin_url or meta.author_url %}
                <tr>
                    <th colspan="2">Origin</th>
                </tr>

                {% if meta.origin_url %}
                    <tr>
                        <td>Url</td>
                        <td>
                            <a href="{{ meta.origin_url }}">Link</a>
                        </td>
                    </tr>
                {% endif %}

                {% if meta.author and meta.author_url %}
                    <tr>
                        <td>Author</td>
                        <td>
                            <a href="{{ meta.author_url }}">{{ meta.author }}</a>
                        </td>
                    </tr>
                {% elif meta.author and not meta.author_url %}
                    <tr>
                        <td>Author</td>
                        <td>
                            {{ meta.author }}
                        </td>
                    </tr>
                {% elif not meta.author and meta.author_url %}
                    <tr>
                        <td>Author</td>
                        <td>
                            <a href="{{ meta.author_url }}">Link</a>
                        </td>
                    </tr>
                {% endif %}

            {% endif %}

            <tr>
                <th colspan="2">Information</th>
            </tr>

            <td>Size</td>
            <td>{{ byte_count_to_text(meta.size) }}</td>

            {{ if_not_empty('Width', meta.width, ' px') }}
            {{ if_not_empty('Height', meta.height, ' px') }}
            {{ if_not_empty('Resolution', meta.resolution, ' Mpx') }}
            {{ if_not_empty('Media type', meta.type) }}
            {{ if_not_empty('Registered on', meta.registered_on) }}
            {{ if_not_empty('Registered by', meta.registered_by) }}

        </table>
    </div>

{% endblock %}